<div class="slider">
    <div>
      <div (click)="goToPrevious()" class="leftArrow">❰</div>
      <div (click)="goToNext()" class="rightArrow">❱</div>
    </div>
    <div
      class="slide"
      [ngStyle]="{'background-image': getCurrentSlideUrl() }"
    >
        <div *ngIf="!dotsMode" class="buttonsContainer">
            <div>
                <button *ngFor="let slide of slides; let slideIndex = index" (click)="goToSlide(slideIndex)" mat-raised-button color="accent" style="margin: 0 1%; padding: 0.5% 2%">Slide {{slide.title}}</button>
            </div>
        </div>
    </div>
    <div *ngIf="dotsMode" class="dotsContainer">
      <div
      *ngFor="let slide of slides; let slideIndex = index"
      class="dot"
      (click)="goToSlide(slideIndex)"
      >
      ●
      </div>
    </div>
  </div>