<div class="slider">
  <!-- Background -->
  <div
    class="slide"
    [ngStyle]="{'background-image': getCurrentSlideUrl() }"
  >
    <div class="slide-overlay"></div>
  </div>

  <!-- Foreground -->
  <div>
    <div (click)="goToPrevious()" class="leftArrow">❰</div>
    <div (click)="goToNext()" class="rightArrow">❱</div>
  </div>

  <div *ngIf="dotsMode" class="dotsContainer">
    <div
    *ngFor="let slide of slides; let slideIndex = index"
    class="dot"
    (click)="goToSlide(slideIndex)"
    >
    ●
    </div>
  </div>

  <div *ngIf="!dotsMode" class="buttonsContainer">
    <div
    *ngFor="let slide of slides; let slideIndex = index"
    class="dot"
    (click)="goToSlide(slideIndex)"
    >
      <button mat-raised-button color="accent"> {{slide.title}} </button>
    </div>
  </div>

  <div class="actionContainer">
    <div class="actionMessageContainer">
      <p class="actionMessage">
        {{slides[currentIndex].actionMessage !== undefined ? slides[currentIndex].actionMessage : 'todo - replace with empty string'}}
      </p>
    </div>
    <div class="actionButtonContainer">
      <a mat-raised-button color="accent" class="actionButton" href="#">{{slides[currentIndex].actionButtonText !== undefined ? slides[currentIndex].actionButtonText : 'todo - handle case no link'}}</a>
      <!-- add actionButtonLink dynamically to href -->
      <!-- <a mat-raised-button color="accent" class="actionButton" href="tel:1234567890">GO LOREM IPSUM GO!</a> -->
    </div>
  </div>
</div>