<div class="d-flex justify-content-between align-items-center">
    <div class="badge badge-learn p-2">{{name}}</div>
    <button (click)="toggleShow()" class="content-toggle rounded">{{(show ? 'hide' : 'show') | uppercase}}</button>
</div>

<div [ngStyle]="{'display': show ? 'block' : 'none'}">
    <br>
    <div class="sample p-5 rounded">
      <div class="container">
        <div class="d-flex justify-content-center align-items-center">
          <p class="sample-title">Built-in pipes</p>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-4 text-center">
            <p><strong>Pipe</strong></p>
                <hr>
            </div>
            <div class="col-4 text-center">
                <p><strong>With pipe</strong></p>
                <hr>
            </div>
            <div class="col-4 text-center">
                <p><strong>Without pipe</strong></p>
                <hr>
            </div>
        </div>

        <div class="row d-flex align-items-center">
            <div class="col-4 text-center">
                <p>uppercase</p>
            </div>
            <div class="col-4 text-center">
                <p>My name is {{ 'mathew johnson' | uppercase }}.</p>
            </div>
            <div class="col-4 text-center">
                <p>My name is {{ 'Mathew Johnson' }}.</p>
            </div>
        </div>
        <br>
        <div class="row d-flex align-items-center">
            <div class="col-4 text-center">
                <p>lowercase</p>
            </div>
            <div class="col-4 text-center">
                <p>My name is {{ 'mathew johnson' | lowercase }}.</p>
            </div>
            <div class="col-4 text-center">
                <p>My name is {{ 'Mathew Johnson' }}.</p>
            </div>
        </div>
        <br>
        <div class="row d-flex align-items-center">
            <div class="col-4 text-center">
                <p>date</p>
            </div>
            <div class="col-4 text-center">
                <p>The hero's birthday is {{ birthday | date }}.</p>
            </div>
            <div class="col-4 text-center">
                <p>The hero's birthday is {{ birthday }}.</p>
            </div>
        </div>
        <br>
        <div class="row d-flex align-items-center">
            <div class="col-4 text-center">
                <p>currency</p>
            </div>
            <div class="col-4 text-center">
                <p>This particular product costs {{ 12 | currency }}.</p>
            </div>
            <div class="col-4 text-center">
                <p>This particular product costs {{ 12 }}.</p>
            </div>
        </div>
        <br>
        <div class="row d-flex align-items-center">
            <div class="col-4 text-center">
                <p>percent</p>
            </div>
            <div class="col-4 text-center">
                <p>The profit has increased by {{ 0.1 | percent }} in the last year.</p>
            </div>
            <div class="col-4 text-center">
                <p>The profit has increased by {{ 0.1 }} in the last year.</p>
            </div>
        </div>
      </div>      
    </div>
    <br>
    <div class="sample p-5 rounded">
      <div class="container">
        <div class="d-flex justify-content-center align-items-center">
          <p class="sample-title">Custom pipes</p>
        </div>
      </div>      
    </div>
</div>