<div class="badge p-2 bg-danger">{{name}}</div>

<div class="p-5 border rounded">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-3 text-center tooltipElement">
        <p class="p-2 fs-3 rounded hover-text" style="background-color: lightgray; border: 1px solid gray">Hover me</p>
        <span class="tooltip-text p-2 rounded border border-dark" style="background-color: lightgray;">This is a tooltip!</span>
      </div>
    </div>
  </div>      
</div>

<br>

<div class="p-5 border rounded">
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-secondary mx-2 col-2" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
          Tooltip on top
        </button>
        <button type="button" class="btn btn-secondary mx-2 col-2" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
          Tooltip on bottom
        </button>
        </div>
    </div>
    <div class="p-3"></div>
    <div class="row">
      <div class="d-flex flex-column justify-content-center">
        <button type="button" class="btn btn-secondary my-2 align-self-center text-center col-2" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
          Tooltip on right
        </button>
        <button type="button" class="btn btn-secondary my-2 align-self-center text-center col-2" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
          Tooltip on left
        </button>
      </div>
    </div>
  </div>
</div>