<div class="badge p-2 bg-danger">{{name}}</div>

<div>
  <p class="text-center fs-5 pb-4">Example 1</p>
</div>
<div class="p-5 border rounded">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-3 text-center tooltipElement">
        <p class="p-2 fs-3 rounded hover-text" style="background-color: lightgray; border: 1px solid gray">Hover me</p>
        <span class="tooltip-text p-2 rounded border border-dark" style="background-color: lightgray;">This is a tooltip!</span>
      </div>
    </div>
  </div>      
</div>
<div>
  <!-- <p class="text-center fs-5 py-4">Example 2</p> -->
</div>