@import '../../../styles/colors';


.component-wrapper {
  background-color: $color-background-light;
  width: 100%;
}

.components-container {
  padding: 1% 15%;
}

.components-separator {
  margin: 3% 0;
}

@keyframes widthAnimation {
  from {
    opacity: 0;
    width: 50%;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

.components-animation {
  animation: widthAnimation 1s ease;
}