<div class="rounded p-4">
    <div class="rounded p-2 bg-light">
        <app-quick-prototyping></app-quick-prototyping>
    </div>
    
    <div class="secondary-separator"></div>

    <div class="rounded p-2 bg-light">
        <app-learn-tooltips></app-learn-tooltips>
    </div>

    <div class="secondary-separator"></div>

    <div class="rounded p-2 bg-light">
        <app-learn-pipes></app-learn-pipes>
    </div>

    <div class="p-5">placeholder</div>
    <div class="p-5">placeholder</div>
    <div class="p-5">placeholder</div>
    <div class="p-5">placeholder</div>
    <div class="p-5">placeholder</div>
    <div class="p-5">placeholder</div>
    <div class="p-5">placeholder</div>
    <div class="p-5">placeholder</div>
    <div class="p-5">placeholder</div>
    <div class="p-5">placeholder</div>
    <div class="p-5">placeholder</div>
    <div class="p-5">placeholder</div>
</div>