<div class="components-container rounded">
  <div class="d-flex justify-content-center">
    <div class="component-wrapper rounded p-2 components-animation">
      <app-quick-prototyping></app-quick-prototyping>
    </div>
  </div>
  
  <div class="components-separator"></div>

  <div class="d-flex justify-content-center">
    <div class="component-wrapper rounded p-2 components-animation">
      <app-learn-tooltips></app-learn-tooltips>
    </div>
  </div>

  <div class="components-separator"></div>


  <div class="d-flex justify-content-center">
    <div class="component-wrapper rounded p-2 components-animation">
      <app-learn-pipes></app-learn-pipes>
    </div>
  </div>

  <div class="components-separator"></div>

  <div class="d-flex justify-content-center">
    <div class="component-wrapper rounded p-2 components-animation">
      <app-learn-directives></app-learn-directives>
    </div>
  </div>
  
  <p class="py-5 text-light">placeholder</p>
  <p class="py-5 text-light">placeholder</p>
  <p class="py-5 text-light">placeholder</p>
  <p class="py-5 text-light">placeholder</p>
  <p class="py-5 text-light">placeholder</p>
  <p class="py-5 text-light">placeholder</p>
  <p class="py-5 text-light">placeholder</p>
  <p class="py-5 text-light">placeholder</p>
</div>