<div style="background-color: white; padding: 10% 5%">
    <!-- <section>
        <div id="image-slider">
            <app-shared-image-slider
            [slides]="mainSliderSlides"
            [intervalSlidingInitialDelayInSeconds]="mainSliderIntervalSlidingInitialDelayInSeconds"
            [intervalSlidingPeriodInSeconds]="mainSliderIntervalSlidingPeriodInSeconds"
            ></app-shared-image-slider>
        </div>
    </section> -->

    <section>
        <div style="background-color: lightgoldenrodyellow;">
            <p>section placeholder!</p>
        </div>
    </section>
</div>