<div style="background-color: white; padding: 10% 5%">
    <section>
        <p>Current Breakpoint:</p>
        <p *ngIf="isXSmall">isXSmall</p>
        <p *ngIf="isSmall">isSmall</p>
        <p *ngIf="isMedium">isMedium</p>
        <p *ngIf="isLarge">isLarge</p>
        <p *ngIf="isXLarge">isXLarge</p>
    </section>
    <!-- <section>
        <app-home-main-slider></app-home-main-slider>
    </section> -->
    <!-- <hr> -->
    <section>
        <app-home-projects-grid></app-home-projects-grid>
    </section>
    <hr>
    <section>
        <app-home-main-stats-numbers></app-home-main-stats-numbers>
    </section>
    <!-- <hr> -->
    <!-- TODO: Use mat-divider -->
    <!-- <section style="border: 1px solid lightgreen; padding: 5% 0">
        <app-home-testimonials></app-home-testimonials>
    </section>
    <hr> -->
    <!-- <section style="border: 0px solid lightgreen; padding: 5% 0">
        <div>
            <p>next</p>
            <mat-divider></mat-divider>
            <p>next</p>
        </div>
    </section> -->
</div>

<!-- TODO: *not part of this component* Add overall Ripples (Angular Material https://material.angular.io/components/ripple/examples) -->
<!-- TODO: *not part of this component* Consider adding Tooltips (Angular Material https://material.angular.io/components/tooltip/overview) -->
<!-- TODO: *not part of this component* Consider adding Constants.ts and an example of using it is to use a text in a component called ActionMessage sectino in Shared that can be used throghout the whole application? -->
<!-- TODO: *not part of this component* Finish Home and then consider reusing components to other pages -->
<!-- TODO: *check where and if you can use mat grid to display components so that you can make use of Breakpoints to dynamically move change the grid -->