$color-highlight: #F05454;
$color-muted: #30475E;

$color-background-dark: #222831;
$color-background-light: #DDDDDD;

$color-text-dark: #222831;
$color-text-light: #DDDDDD;

$color-border-sample: #222831;

$color-success: #82dd55;
$color-fail: #e23636;
$color-warning: #424242;

$color-normal-gray: #464646;
$color-normal-red: #c51927;
$color-normal-magenta: #c5196a;
$color-normal-purple: #921773;
$color-normal-blue: #3e19c5;
$color-normal-green: #17ad2b;
$color-normal-yellow: #bead10;
$color-normal-orange: #d16812;