$color-highlight: #F05454;
$color-muted: #30475E;

$color-background-dark: #222831;
$color-background-light: #DDDDDD;

$color-text-dark: #222831;
$color-text-light: #DDDDDD;

$color-success: #82dd55;
$color-fail: #e23636;
$color-warning: #edb95e;