<div class="numbersContainer">
  <mat-grid-list [cols]="3" rowHeight="200px" gutterSize="50px">
    <mat-grid-tile *ngFor="let number of numbers" style="background-color: pink;">
        <mat-card class="example-card" style="width: 200px;">
          <!-- TODO: Dynamic icom per card -->
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star" style="font-size: 40px; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; margin-top: 15px; color: purple;"></mat-icon>
            <mat-card-header style="display: flex; align-items: center; justify-content: center; text-align: center;  margin-bottom: 30px;">
              <mat-card-title>{{number.currentValue}}</mat-card-title>
              <mat-card-subtitle style="text-align: center;">{{number.title}}</mat-card-subtitle>
            </mat-card-header>
            <!-- Optional actions: -->
            <!-- <mat-card-actions style="display: flex; justify-content: center; align-items: center;">
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions> -->
            <mat-card-footer style="background-color: purple; height: 4px;">
            </mat-card-footer>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<!-- TODO: For mobile, scale cards size down instead of using only 1 column -->