<!-- <div style="background-color: gold; padding: 1.5%">
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <p>Nav link</p>
        <p>Nav link</p>
        <p>Nav link</p>
        <p>Nav link</p>
        <p>Nav link</p>
        <p>Nav link</p>
        <p>Nav link</p>
        <p>Nav link</p>
        <p>Nav link</p>
        <p>Nav link</p>
        <p>Nav link</p>
        <p>Nav link</p>
    </div>
</div> -->
<!-- TODO: Replace above with Angular Material navbar (make it responsive!) -->
<div style="background-color: orange; padding: 1%;">
    <div style="display: flex; justify-content: center; align-items: center;">
        <div style="display: flex; justify-content: end; width: 50%;">
            <button mat-button>About</button>
            <button mat-button>Menu</button>
        </div>
        <div style="padding: 0 3%;">
            <p style="text-align: center; font-size: large;"><strong>FRUIT</strong></p>
        </div>
        <div style="display: flex; justify-content: start; width: 50%;">
            <button mat-button>Menu</button>
            <button mat-button>Categories</button>
            <button mat-button>History</button>

        </div>
    </div>

</div>