<div style="padding: 1%;" class="navbar">
    <div style="display: flex; justify-content: center; align-items: center;">
        <div style="display: flex; justify-content: end; width: 50%;">
            <button mat-button>About</button>
            <button mat-button>Menu</button>
        </div>
        <div style="padding: 0 3%;">
            <p style="text-align: center; font-size: large;"><strong>FRUIT</strong></p>
        </div>
        <div style="display: flex; justify-content: start; width: 50%;">
            <button mat-button>Menu</button>
            <button mat-button>Categories</button>
            <button mat-button>History</button>

        </div>
    </div>
</div>