<div>
    <mat-grid-list [cols]="cols" rowHeight="2:1">
        <mat-grid-tile
        *ngFor="let tile of tiles"
        [ngStyle]="{'background-image': 'url(' + tile.imagePath + ')'}"
        style="color: white">
            <div class="tile-container">
                <div class="hover-effect"></div>
            </div>
            <p class="tile-text">
                {{tile.title}}
            </p>
        </mat-grid-tile>
    </mat-grid-list>              
</div>
<!-- TODO: Move in Shared as reusable component -->