@import '../styles/colors';

.main-background {
  background: linear-gradient(to bottom, $color-background-dark-variant, $color-background-dark);
}

.title {
  color: $color-text-light;
}

.title-area {
  background-color: $color-background-dark;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.description {
  color: $color-text-light;
}

.environment-development {
  background-color: $color-success;
  color: $color-text-dark;
  text-transform: uppercase;
}

.environment-production {
  background-color: $color-warning;
  color: $color-text-dark;
  text-transform: uppercase;
}

.backend-connected {
  background-color: $color-success;
  color: $color-text-dark;
  text-transform: uppercase;
}

.backend-not-connected {
  background-color: $color-fail;
  color: $color-text-dark;
  text-transform: uppercase;
}