@import "~bootstrap/dist/css/bootstrap.css";

@import './styles/colors';

/* You can add global styles to this file, and also import other style files */

p {
  margin-bottom: 0px;
  padding: 0px;
}

.sample {
  border: 1px dashed $color-background-dark;
}

.sample-title {
  color: $color-muted;
  text-align: center;
  border-bottom: 1px solid $color-muted;
  padding-bottom: 0.5%;
  margin-bottom: 4%;
  width: 50%;
}

.content-toggle {
  background-color: $color-background-dark;
  color: $color-text-light;
  font-size: small;
  border: none;
  padding: 0.25rem 1rem;
  width: 4.5rem;
}

.badge-learn {
  background-color: $color-normal-magenta;
}

.badge-prototyping {
  background-color: $color-normal-blue;
}