@import './styles/colors';

/* You can add global styles to this file, and also import other style files */

p {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}

/* Hide the vertical scrollbar */
// ::-webkit-scrollbar {
//   width: 0;
// }

// ::-webkit-scrollbar-track {
//   background: transparent;
// }

// ::-webkit-scrollbar-thumb {
//   background: transparent;
// }

// /* Hide the horizontal scrollbar */
// ::-webkit-scrollbar-horizontal {
//   display: none;
// }

// .scrollable-container {
//   overflow: hidden;
// }