@import "~bootstrap/dist/css/bootstrap.css";

@import './styles/colors';

/* You can add global styles to this file, and also import other style files */

p {
  margin-bottom: 0px;
  padding: 0px;
}

.badge {
  margin-bottom: 15px;
}

.sample {
  border: 1px dashed $color-background-dark;
}

.sample-title {
  color: $color-muted;
  text-align: center;
  border-bottom: 1px solid $color-muted;
  padding-bottom: 0.5%;
  margin-bottom: 4%;
  width: 50%;
}